body {
	background-color: #586f7c;
}

form {
	color: #fff;
}
.resize {
    width: 25px; /* you can use % */
	height: 25px;
	border-radius: 50%;
}

.resizeTable {
    width: 300px; /* you can use % */
	height: 225px;
}

.panel {
    background-color: #f4f4f9;
}
.navbar-brand,
.navbar-color {
    color: #f4f4f9;
}

.seccionROW {
	min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	background-attachment: fixed;
	height: 75%;
}

.cuadro{
	padding-left: 5%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: -2%;
}

.itemCustom {
	/*background-size: 100%;
	background-position: center center;*/
	padding: 50px 10px;
	margin-bottom: 30px;
}

.slideSection{
	height: 50%;
}

.navbar-nav .ml-auto li {
    float: left;
}

tr th {
	background-color: #f4f4f9;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
	display: none;
}

@media (min-width: 768px) {
	.sidebar {
	  position: fixed;
	  top: 51px;
	  bottom: 0;
	  left: 0;
	  z-index: 0;
	  display: block;
	  padding: 20px;
	  overflow-x: hidden;
	  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	  background-color: #f5f5f5;
	  border-right: 1px solid #eee;
	}

  }
  
  /* Sidebar navigation */
  .nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
  }
  .nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
  }
  .nav-sidebar > .active > a,
  .nav-sidebar > .active > a:hover,
  .nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
  }

.row-parent > div {
	float: right;
}

@media (max-width: 768px) {
	#parent-row > div {
		top: 30px;
	}
}